:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --height-head: 110px;
    --height-navbar: 30px;
    --height-search: calc(var(--height-head) - var(--height-navbar));
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

@keyframes fadeId {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}