.head {
    background-image: linear-gradient(0, #fd5b30, #f5352a);
    width: auto;
    height: 110px;
}

.head__navbar {
    display: flex;
    justify-content: space-between;
    height: 30px;
}

.head__navbar-list {
    list-style: none;
    display: flex;
    padding-left: 0;
}

.head__navbar-item {
    display: flex;
    padding: 10px 8px;
    align-items: center;
    font-size: 18px;
    color: #fff;
    animation: opacity ease-in .2s;
    cursor: pointer;
    position: relative;
}

.head__navbar-item--space {
    padding: 0 5px;
}

.head__navbar-item:hover {
    opacity: .8;
}


/* header */

.header__QR--apps {
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
}

.header__QR--link img {
    width: 82px;
    height: auto;
}

.header__QR {
    margin-top: 5px;
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
}

.header__QR::before {
    height: 20px;
    width: 100%;
    left: 0;
    top: -8px;
    position: absolute;
    content: "";
    display: block;
}


/* .header__QR--download img {
    opacity: 1 !important;
} */


/* .header-item {
    opacity: 1 !important;
} */

.header-item:hover .header__QR {
    display: block;
}

.header-item {
    /* background-color: #fff; */
    /* position: absolute; */
    left: 0;
}

.header__QR--download {
    border-radius: 3px;
    width: 170px;
    height: auto;
}


/* logo */

.search {
    width: auto;
    height: 50px;
    margin: 1.2% auto;
}

.search--logo {
    display: flex;
    margin-left: 8%;
}


/* 
notification */

.head__Notification {
    display: flex;
    position: relative;
}

.notification p {
    font-weight: 300;
    cursor: text;
    color: black;
}

.head__notify {
    position: absolute;
    background-color: white;
    width: 400px;
    height: 280px;
    top: 100%;
    right: 11.5%;
    margin-top: 10px;
    opacity: 1;
    display: none;
}

.notification {
    color: black;
    font-weight: 300;
    height: 40px;
    width: auto;
    background-color: white;
    display: flex;
    margin-top: 0;
}

.notification p {
    margin: auto 10px;
}

.head__notify-item {
    margin: auto 10px;
}

.head__notify-item__conten {
    color: black;
}

.head__notify-item {
    display: flex;
    height: 60px;
    position: relative;
}

.head__notify-item__img {
    width: 60px;
    margin-bottom: 0;
    object-fit: cover;
}

.head__notify-item__conten--top h4 {
    font-weight: 300;
    margin-top: 0;
    margin-left: 10px;
    margin-bottom: 0;
}

.head__notify-item__conten--button h6 {
    font-weight: 200;
    margin-left: 10px;
    margin-bottom: 0;
    margin-top: 0;
    position: absolute;
    bottom: 0;
}

.head__notify-item {
    margin-top: 10px;
}

.item__conten--top {
    text-transform: uppercase;
}

.head__notify::before {
    content: "";
    position: absolute;
    border-width: 20px 40px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    top: -30px;
    right: 0;
    cursor: default;
}

.head__navbar-list_show:hover .head__notify {
    display: block;
    transform-origin: 90% top;
    animation: hearNotifyGrowth ease-in .25s;
}


/* .bellow {
    position: absolute;
    right: 40%;
    bottom: 5px;
    font-weight: 200;
} */

.bellow {
    display: flex;
}

.bellow a {
    margin: 0 auto;
    margin-top: 2px;
}

.head__notify-it:hover .head__notify-item {
    background-color: rgb(214, 177, 128);
}

.notification {
    cursor: default;
}

@keyframes hearNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.head__notify::after {
    content: "";
    width: 130px;
    height: 30px;
    position: absolute;
    top: -20px;
    right: -10px;
}